beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
gevent==21.1.0
greenlet==1.0.0
grequests==0.6.0
idna==2.10
requests==2.25.1
soupsieve==2.1
urllib3==1.26.2
zope.event==4.5.0
zope.interface==5.2.0
